<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Estudiantes 2022 - Python Coderhouse 37355</h1>
    <ol>
        {% for estudiante in estudiantes %}
        <li>Nombre: {{estudiante.nombre}}, Apellido: {{estudiante.apellido}}, Edad: {{estudiante.edad}}, Email: {{estudiante.email}} </li>
        {% endfor %}
    </ol>
</body>
</html>